[% META title = 'Manual Form Book Create' -%]

<form method="post" action="[% c.uri_for('subscription_create_do') %]">
<table>
  <tr><td>Source:</td><td><input type="text" name="source"></td></tr>
  <tr><td>Hub:</td><td><input type="text" name="hub"></td></tr>
  <tr><td>Callback:</td><td><input type="text" name="callback"></td></tr>
</table>
<input type="submit" name="Submit" value="Submit">
</form>
